#h2 {
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 25px;
}

body {
    text-align: center;
    background-image: linear-gradient(#29fffb 0%, #28cf0e 100%)
}
#h{
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 23px;
    
}
#n{
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    margin-bottom: 5px;
}
#in{
    margin-bottom: 5px auto;
    margin-top: 5px auto;
    margin-left: 5px auto;
    margin-right: 5px auto;
}
